@using Default.Views.Servison
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ServisonNavPages.IndexNavClass(ViewContext)" asp-action="Index">Dodaj naprawę</a></li>
    <li class="nav-item"><a class="nav-link @ServisonNavPages.AllRepairsNavClass(ViewContext)" asp-action="AllRepairs">Wszystkie naprawy</a></li>
    
</ul>

