@model SetPasswordViewModel
@{
    ViewData["Title"] = "Ustaw hasło";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>Ustaw swoje hasło</h4>
@Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<p class="text-info">
    Nie masz ustawionego hasła. Dodaj, aby logować się również bez zewnętrznych loginów.
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">Ustaw hasło</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
