@model ShowRecoveryCodesViewModel
@{
    ViewData["Title"] = "Kody bezpieczeństwa";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Zapisz kody w bezpiecznym miejscu.</strong>
    </p>
    <p>
        Jeśli stracisz dostęp do aplikacji autoryzujacej i nie będziesz miał kodów bezpieczństwa, stracisz dostęp do aplikacji.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code>@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code>@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>