@model Default.Models.IndexViewModel
@{
    ViewData["Title"] = "Strona główna";
}

@if (!String.IsNullOrEmpty(Model.StatusMessage))
{
    
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.StatusMessage
    </div>
}

<div class="jumbotron top-margin10px">
    <h1 class="display-4">Witaj na stronie</h1>
    <p class="lead">Zapraszamy do dodawania nowych napraw. <br />Bartosz Tołpa </p>
</div>

