@model Default.Models.IndexViewModel
@{
    ViewData["Title"] = "Strona główna";
}

@if (!String.IsNullOrEmpty(Model.StatusMessage))
{
    
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.StatusMessage
    </div>
}

<p class="top-margin10px">Witaj na stronie</p>
<p>Bartosz Tołpa</p>
<p>Zapraszamy do dodawania nowych napraw.</p>

